

<html>
    <body>
        
        <div style="background-image: url();background-repeat: repeat;background-size: auto;">
        <h1 style="margin-left: 21.5%;">Profile Details</h1>
    <div id="card1">
      
        
        
        <div  id="card" >
        <div class="column">
          <div style="margin-top: 30px;display:flex;"> 
            <p style="margin-right: 10px;"> Employee Id</p>
             <p style="font-weight: lighter;">: {{uname}}
            </p> 
        </div>
          <div style="margin-top: 30px;display:flex;"> 
        <p style="margin-right: 10px;"> First Name</p>
         <p style="font-weight: lighter;padding-left: 10px;">: {{fname}}
        </p> 
           </div>
    
        <!-- <div style="margin-top: 30px;display:flex;"> 
        <p style="margin-right: 10px;"> Last Name</p>
         <p style="font-weight: lighter;padding-left: 10px;">: {{lname}}
        </p> 
           </div> -->
    
       
    
        <div style="margin-top: 30px;display:flex;"> 
          <p style="margin-right: 10px;"> Phone</p>
           <p style="font-weight: lighter;padding-left: 40px;">: {{mobile}}
          </p> 
        </div>
        
        <div style="margin-top: 30px;display:flex;"> 
          <p style="margin-right: 10px;"> Street</p>
           <p style="font-weight: lighter;padding-left:42px;">: {{street}}
          </p> 
        </div>
      </div>
      <div class="column" style="margin-left: 17%;">
        <div style="margin-top: 30px;display:flex;"> 
          <p style="margin-right: 10px;"> City</p>
           <p style="font-weight: lighter;padding-left: 30px;">: {{city}}
          </p> 
          </div>
          
          <div style="margin-top: 30px;display:flex;"> 
            <p style="margin-right: 10px;"> State</p>
             <p style="font-weight: lighter;padding-left:20px;">: {{state}}
            </p> 
          </div>
    
          <div style="margin-top: 30px;display:flex;"> 
            <p style="margin-right: 10px;"> Pincode</p>
             <p style="font-weight: lighter;">: {{pincode}}
            </p> 
            </div>
    
            <div style="margin-top: 30px;display:flex;"> 
              <p style="margin-right: 10px;"> Country</p>
               <p style="font-weight: lighter;">: {{country}}
              </p> 
            </div>  
      </div>
      </div>
    
    </div>
    </div>
    
    <nav class="mainmenu">
        <div class="sidebar-logo" routerLink="/dashboarde">
          EMPLOYEE PORTAL
          </div>
        <ul>
          <li class="dropdown"  ><a><i class="fa fa-users fa-2x" style="padding-right: 10px;"></i>Profile <span>&rsaquo;</span></a>
          <ul>
            <li><a routerLink="/eprofile">View</a></li>
            <li><a routerLink="/empedit">Edit</a></li>
          </ul>
          </li>
          <li class="dropdown"><a> <i class="fa fa-sign-out" style="padding-right: 10px;"></i>Leave Request <span>&rsaquo;</span></a>
             <ul>
                <li><a routerLink="/leavedetails"> Leave Details</a></li>
                <li><a routerLink="/leaverequest">Apply Leave</a></li>
                
              </ul>
          </li>
          <li class="dropdown"><a><i class="fa fa-file" style="padding-right: 10px;"></i> Pay Slip <span>&rsaquo;</span></a>
             <ul>
             <li><a routerLink="/payslip">Pay Slip Details</a></li>
             <li><a routerLink="/payslippdf">Payslip Pdf</a></li>
          </ul>
          </li>
          <li><a routerLink="/finalset"> <i class="fa fa-book" style="padding-right: 10px;"></i>Final Settlement</a></li>
  
          <!-- <li class="dropdown"><a><i class="fa fa-book" style="padding-right: 10px;"></i> Final Statement <span>&rsaquo;</span></a> -->
      
           <!-- </li> -->
        </ul>
    
      </nav>
      <nav >
      <ul>
       
         <a routerLink="/logine" class="logout">
           <div style="display: flex;">
             <div style="padding-right: 10px;"><i class="fa fa-power-off fa-2x"></i></div>
             <div> Logout</div>
           </div>
               
         </a>
    
       
     </ul>
    </nav>
    
    
    </body>
    
    </html>
    
    
    