<html>
  <body>
    <div>

      <div style="margin-left: 30%;margin-bottom: 3%;">
        <h1 style="margin-right:20% ;margin-bottom: 5%;">Edit Profile</h1>
      <div class="card" >
       
        <div class="row" style="margin-top: 40px">
          <div style="margin-right: 0;">
            <div class="col">
              <div class="form-group">
                
            
                <label style="margin-right:5px ;text-transform: capitalize;">Emp ID 
                <input style="font-weight: lighter;" readonly type="text" [(ngModel)]="uname" style="margin-left: 40px;margin-top: 5px;">
              </label>
              </div>
            </div>

          <div class="col">
            <div class="form-group">
              
          
              <label style="margin-right:5px ;text-transform: capitalize;">First Name 
              <input  style="font-weight: lighter;" type="text" [(ngModel)]="fname" style="margin-left: 10px;margin-top: 5px;">
            </label>
            </div>
          </div>
      
          <!-- <div class="col">
            <div class="form-group">
              <label>Last Name
              <input type="text" [(ngModel)]="lname" style="margin-left: 13px;margin-top: 5px;">
            </label>
            </div>
          </div> -->
      
          <div class="col">
            <div class="form-group">
              <label >City
              <input style="font-weight: lighter;" type="text" [(ngModel)]="city" style="margin-left: 69px;margin-top: 5px;">
            </label>
            </div>
          </div>
      
          <div class="col">
            <div class="form-group">
              <label>Phone
              <input style="font-weight: lighter;" type="text" [(ngModel)]="mobile" style="margin-left: 50px;margin-top: 5px;">
              </label>
            </div>
          </div>
        </div>
        <div>
          <div class="col">
            <div class="form-group">
              <label>Street
              <input style="font-weight: lighter;" type="text" [(ngModel)]="street" style="margin-left: 35px;margin-top: 5px;">
            </label>
            </div>
          </div>

          
          <div class="col">
            <div class="form-group">
              <label>State
              <input style="font-weight: lighter;" type="text" [(ngModel)]="state" style="margin-left: 45px;margin-top: 5px;">
            </label>
            </div>
          </div>
          
          <div class="col">
            <div class="form-group">
              <label>Pincode
              <input style="font-weight: lighter;" type="text" [(ngModel)]="pincode" style="margin-left: 20px;margin-top: 5px;">
            </label>
            </div>
          </div>

          
          <div class="col">
            <div class="form-group">
              <label>Country
              <input style="font-weight: lighter;" type="text" [(ngModel)]="country" style="margin-left: 20px;margin-top: 5px;">
            </label>
            </div>
          </div>
        </div>
          <div class="col">
            <button class="submit" (click)="update()">Submit</button>
          </div>
        </div>
      </div>
      </div>
    <!-- <div style="margin-left: 20%;">
       firstname: <input type="text" [(ngModel)]="fname">
       lastname: <input type="text" [(ngModel)]="lname">
       city: <input type="text" [(ngModel)]="city">
       phone: <input type="text" [(ngModel)]="mobile">
       Street: <input type="text" [(ngModel)]="street">
       State: <input type="text" [(ngModel)]="state">
       pincode: <input type="text" [(ngModel)]="pincode">
       country: <input type="text" [(ngModel)]="country">
       <button (click)="update()">Save</button>
    </div> -->
  </div>
  
  <nav class="mainmenu">
    <div class="sidebar-logo" routerLink="/dashboarde" >
      EMPLOYEE PORTAL
      </div>
    <ul>
      <li class="dropdown"  ><a><i class="fa fa-users fa-2x" style="padding-right: 10px;"></i>Profile <span>&rsaquo;</span></a>
      <ul>
        <li><a routerLink="/eprofile">View</a></li>
        <li><a routerLink="/empedit">Edit</a></li>
      </ul>
      </li>
      <li class="dropdown"><a> <i class="fa fa-sign-out" style="padding-right: 10px;"></i>Leave Request <span>&rsaquo;</span></a>
         <ul>
            <li><a routerLink="/leavedetails"> Leave Details</a></li>
            <li><a routerLink="/leaverequest">Apply Leave</a></li>
            
          </ul>
      </li>
      <li class="dropdown"><a><i class="fa fa-file" style="padding-right: 10px;"></i> Pay Slip <span>&rsaquo;</span></a>
         <ul>
         <li><a routerLink="/payslip">Pay Slip Details</a></li>
         <li><a routerLink="/payslippdf">Payslip Pdf</a></li>
      </ul>
      </li>
      <li><a routerLink="/finalset"> <i class="fa fa-book" style="padding-right: 10px;"></i>Final Settlement</a></li>

      <!-- <li class="dropdown"><a><i class="fa fa-book" style="padding-right: 10px;"></i> Final Statement <span>&rsaquo;</span></a> -->
  
       <!-- </li> -->
    </ul>

  </nav>
  <nav >
  <ul>
   
     <a routerLink="/logine" class="logout">
       <div style="display: flex;">
         <div style="padding-right: 10px;"><i class="fa fa-power-off fa-2x"></i></div>
         <div> Logout</div>
       </div>
           
     </a>

   
 </ul>
</nav>

</body>
</html>