
<html>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <body>
        <nav class="mainmenu">
            <div  routerLink="/dashboard" class="sidebar-logo">
              CUSTOMER PORTAL
              </div>
            <ul>
              <li class="dropdown"  ><a><i class="fa fa-users fa-2x" style="padding-right: 10px;"></i>Profile <span>&rsaquo;</span></a>
              <ul>
                <li><a routerLink="/customerdetail">View</a></li>
                <li><a routerLink="/customeredit">Edit</a></li>
              </ul>
              </li>
              <li class="dropdown"><a> <i class="fa fa-laptop fa-2x" style="padding-right: 10px;"></i>Dashboard <span>&rsaquo;</span></a>
                 <ul>
                    <li><a routerLink="/inquiry">Inquiry data</a></li>
                    <li><a routerLink="/salesorder">Sales order data</a></li>
                    <li><a routerLink="/delivery">List of Delivery</a></li>
                  </ul>
              </li>
              <li class="dropdown"><a><i class="fa fa-bar-chart-o fa-2x" style="padding-right: 10px;"></i> Finanicial sheet <span>&rsaquo;</span></a>
                 <ul>
                 <li><a routerLink="/invoice">Invoice details</a></li>
                 <li><a routerLink="/getpayment">Payments and aging</a></li>
                 <li><a routerLink="/creditdebit">Credit/Debit memo</a></li>
                 <li><a routerLink="/overallsales">Overall sales data</a></li>
                 </ul>
              </li>
              <li><a routerLink="/masterdata"> <i class="fa fa-upload fa-2x" style="padding-right: 10px;"></i>Master Data Upload</a></li>
          
              
            </ul>
          
          </nav>
          <nav >
          <ul>
           
             <a routerLink="/login" class="logout">
               <div style="display: flex;">
                 <div style=" padding-right: 10px;"><i class="fa fa-power-off fa-2x"></i></div>
                 <div> Logout</div>
               </div>
                   
             </a>
          
           
          </ul>
          </nav>
<div>   <!-- <button class="btn">Browse a file</button>
      <input type="file" (change)="onFileChange($event)" name="myfile" />

<button (click)="getupload()" style="margin-left: 5%;border-radius: 6%;" class="button2"> Upload it</button>
   

 <div *ngIf="excel">
    <div class="alert alert-dark" role="alert" style="text-align: center;">
      {{excel}} Id Successfully Created !!
    </div>
  </div>


 -->
 <div class="form">
	<div class="center">
		
			<h1 style="text-align: center;font-size: large;font-weight:bolder;top: 0%;font-size: 20px;">Drop file to upload</h1>
		

		<div class="dropzone">
			<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon"/>
		                    	<!-- <input type="file" class="upload-input" /> -->
		</div>
    <input style="margin-left: 3%;"  type="file" (change)="onFileChange($event)" name="myfile" />
		<!-- <button type="button" class="btn" name="uploadbutton">Upload file</button> -->
    <button (click)="getupload()" class="btn" style="margin-left: 0%;border-radius: 6%;"> Upload File</button>

    <div *ngFor="let akr of ashok">
    <div class="alert alert-dark" role="alert" style="text-align: center;">
      {{akr}} Id Successfully Created
    </div>
    </div>
	
</div>
</div>
</div>      
    </body>
</html>
