

<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
  <body>

    <nav class="mainmenu">
      <div  routerLink="/dashboard" class="sidebar-logo">
        CUSTOMER PORTAL
        </div>
      <ul>
        <li class="dropdown"  ><a><i class="fa fa-users fa-2x" style="padding-right: 10px;"></i>Profile <span>&rsaquo;</span></a>
        <ul>
          <li><a routerLink="/customerdetail">View</a></li>
          <li><a routerLink="/customeredit">Edit</a></li>
        </ul>
        </li>
        <li class="dropdown"><a> <i class="fa fa-laptop fa-2x" style="padding-right: 10px;"></i>Dashboard <span>&rsaquo;</span></a>
           <ul>
              <li><a routerLink="/inquiry">Inquiry data</a></li>
              <li><a routerLink="/salesorder">Sales order data</a></li>
              <li><a routerLink="/delivery">List of Delivery</a></li>
            </ul>
        </li>
        <li class="dropdown"><a><i class="fa fa-bar-chart-o fa-2x" style="padding-right: 10px;"></i> Finanicial sheet <span>&rsaquo;</span></a>
           <ul>
           <li><a routerLink="/invoice">Invoice details</a></li>
           <li><a routerLink="/getpayment">Payments and aging</a></li>
           <li><a routerLink="/creditdebit">Credit/Debit memo</a></li>
           <li><a routerLink="/overallsales">Overall sales data</a></li>
           </ul>
        </li>
        <li><a routerLink="/masterdata"> <i class="fa fa-upload fa-2x" style="padding-right: 10px;"></i>Master Data Upload</a></li>
  
        
      </ul>
  
    </nav>
    <nav >
    <ul>
     
       <a routerLink="/login" class="logout">
         <div style="display: flex;">
           <div style="padding-right: 10px;"><i class="fa fa-power-off fa-2x"></i></div>
           <div> Logout</div>
         </div>
             
       </a>
  
     
   </ul>
  </nav>
  <div style="margin-left: 27%;margin-top: 7%;">
    <iframe width="850" height="400"src="assets\Salesorder.html"></iframe>
    
    <!-- <iframe width="699" height="393" src="https://www.youtube.com/embed/HHP1tw64kuk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      
   
   </div>

  
  </body>
  </html>
  
   
  
  
  
  
  
  
  
  
  
  